.heading{
  padding: 200px;
  background:url(/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

  .about{
    text-align: center;
  }

  .heading2{
    padding: 200px;
    background:url(/IP3/assets/backgrounds/s_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
  }

  .what_we_do_heading{

    text-align: center;
  }
  
  .col-md-4{
    flex: auto;
    text-align: right;
  
  }
  
  .row{
  
    display: flex;
   
  }

  .row {
    flex: auto;
    display: flex;
    flex-direction: row;
  }

  .col-lg-4 {
    flex: auto;
    text-align: center;
  }
  
  .image {
    margin-bottom: 2%;
  }

  .five div {
    width: 22%;
    padding: 10px;
  }
  
  .five img {
    width: 100%;
  }
  
  .br {
    display: block;
    margin: 0px 0;
  }

  
  .six {
    text-align: center;
    background: url(c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .socials img{
    padding: 10px;
}